* {
    padding: 0px;
    margin: 0px;
}

* div {
    position: absolute;
}

div.title {
    left: 0px;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    font-size: 20pt;
    font-weight: 1000;
    display: flex;
    align-items: center;
    color: #103010;
    background: #50B050;
    border-top: 1px solid greenyellow;
    border-bottom: 1px double teal;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

div.add {
    top: 0px;
    left: 15px;
    width: 500px;
    height: 160px;
}

div.list {
    top: 150px;
    left: 25px;
    width: 650px;
    height: 260px;
}

thead.list {
    display: block;
}
tbody.list {
    display: block;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}
* tr {
    border: none;
}

thead.list th {
    background-color: #f5ffe5;
    border: 1px solid #88cc66;
    color: #44bb00;
}

tbody.list td {
    background-color: #ffffff;
    border: 1px solid #88cc66;
    line-height: 30px;
}
th.text, td.text {
    width: 440px;
}
th.stat, td.stat {
    width: 80px;
    text-align: center;
}
td.edit {
    width: 50px;
    text-align: center;
    border-right: none;
}
td.delete {
    width: 50px;
    text-align: center;
    border-left: none;
}
tbody.list tr:hover td {
    background: #daf8f8;
}
.alert-color {
    border-color: #ff0000;
}

