<body>
<h2>編集</h2>

<form method="post" action="/task/update/{{.dat.ID}}">
    <p>内容<input type="text" name="text" size="30" value="{{.dat.Text}}" ></p>
    <p>状態
        <select name="status">
            {{if eq .dat.Stat 1}}
                <option value="1" selected>未着手</option>
                <option value="2">対応中</option>
                <option value="3">完了</option>
            {{else if eq .dat.Stat 2}}
                <option value="1">未着手</option>
                <option value="2" selected>対応中</option>
                <option value="3">完了</option>
            {{else}}
                <option value="1">未着手</option>
                <option value="2">対応中</option>
                <option value="3" selected>完了</option>
            {{end}}
        </select>
    </p>
    <p><input type="submit" value="更新"></p>
</form>
</body>