<body>
<h2>追加</h2>
<form method="post" action="/task">
    <p>内容<input type="text" name="text" size="30" placeholder="入力してください" ></p>
    <p>状態
        <select name="status">
            <option value="1">未着手</option>
            <option value="2">対応中</option>
            <option value="3">完了</option>
        </select>
    </p>
    <p><input type="submit" value="追加"></p>
</form>

<br>

<table style="border-collapse: collapse; border-spacing: 0px;">
    <tr style="height: 30px;">
        <th style="width: 300px; border: 1px solid black;">内容</th>
        <th style="width: 80px; border: 1px solid black;">状態</th>
        <td style="width: 60px; border: 1px solid black;">　</td>
        <td style="width: 60px; border: 1px solid black;">　</td>
    </tr>
    {{ range .dat }}
        <tr>
            <td>{{ .Text }}</td>
            <td>{{ .Status }}</td>
            <td><a href="/edit/{{.ID}}">編集</a></td>
            <td><a href="/delete_check/{{.ID}}">削除</a></td>
        </tr>
    {{end}}

</table>
</body>