<body>
<h2>追加</h2>
<form method="post" action="/task">
    <p>内容<input type="text" name="text" size="30" placeholder="入力してください" ></p>
    <p>状態
        <select name="status">
            <option value="1">未着手</option>
            <option value="2">対応中</option>
            <option value="3">完了</option>
        </select>
    </p>
    <p><input type="submit" value="追加"></p>
</form>

<br>

<table style="border-collapse: collapse; border-spacing: 0px;">
    <tr style="height: 30px;">
        <th style="width: 300px; border: 1px solid black;">内容</th>
        <th style="width: 80px; border: 1px solid black;">状態</th>
        <td style="width: 50px; border: none;">　</td>
        <td style="width: 50px; border: none;">　</td>
    </tr>
    {{ range .dat }}
        <tr style="height: 30px;">
            <td style="border: 1px solid black;">{{ .Text }}</td>
            <td style="border: 1px solid black; text-align: center;">
                {{if eq .Stat 1}}未着手
                {{else if eq .Stat 2}}対応中
                {{else if eq .Stat 3}}完了
                {{else}}　
                {{end}}
            </td>
            <td style="border: 1px solid black; border-right: none; text-align: center; padding: 0px;">
                <form method="POST" style="margin: 0px; padding: 0px;" action="/task/edit/{{.ID}}">
                    <input type="submit" value="編集" style="height: 25px;">
                </form>
            </td>
            <td style="border: 1px solid black; border-left: none; text-align: center; padding: 0px;">
                <form method="POST" style="margin: 0px; padding: 0px;" action="/task/delete/{{.ID}}">
                    <input type="submit" value="削除" style="height: 25px;">
                </form>
            </td>
        </tr>
    {{end}}

</table>
</body>