<!DOCTYPE html>
<html lang="jp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../style/task.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="../js/task.js" defer></script>
    <title>TODO</title>
</head>

<body>
<div class="title" style="top: 5px;">TODOリスト</div>
<div id="taskapp" style="top: 65px;">
    <div class="add">
        <table style="margin-left: 10px;">
            <tr style="height: 30px;">
                <td style="width: 50px; border: none;">内容</td>
                <td style="width: 300px;border: none; text-align: left; ">
                    <input
                        type="text"
                        name='text'
                        style="width: 280px; border-width: 1px;"
                        v-model="text"
                        v-bind:class="{'alert-color': !validate }"
                        value=''
                        size="40"
                        placeholder="内容を入力してください※必須"
                    >
                </td>
            </tr>
            <tr style="height: 30px;">
                <td style="border: none;">状態</td>
                <td style="border: none; text-align: left; ">
                    <select name="stat" v-model="stat">
                        <option value="1">未着手</option>
                        <option value="2">対応中</option>
                        <option value="3">完了</option>
                    </select>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" style="border: none;">
                    <input
                        type="button"
                        style="width: 100px; height: 25px;"
                        value="追加"
                        v-on:click="add"
                        v-bind:disabled="!isEntered"
                    >
                </td>
            </tr>
        </table>
    </div>
    <div class="list">
        <table>
            <tr style="height: 25px;">
                <td style="width: 80px;" v-for="label in options">
                    <label><input type="radio" v-model="current" v-bind:value="label.value">{{ label.label }}</label>
                </td>
            </tr>
        </table>
        <hr>
        <br>
        <table>
            <thead class="list" v-pre>
                <tr style="height: 30px;">
                    <th class="text">内容</th>
                    <th class="stat">状態</th>
                    <td style="width: 50px; border: none;">　</td>
                    <td style="width: 50px; border: none;">　</td>
                </tr>
            </thead>
            <tbody class="list">
                <tr v-for="(item, index) in computedTasks">
                    <td class="text">{{ item.text }}</td>
                    <td class="stat">{{ labels[item.stat] }}</td>
                    <td class="edit">
                        <button v-on:click="edit(item)">編集</button>
                    </td>
                    <td class="delete">
                        <button v-on:click="del(item)">削除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>